{% extends 'base_sources/base.html' %}
{% import 'base_sources/form-fields.html' as fields %}

{% set title_text = "Add task for host" %}

{% block page_title %}{{ title_text }}{% endblock %}

{#  CSS settings - if need #}
{# {% block html_css %}class_name{% endblock %} #}
{# {% block body_css %}class_name{% endblock %} #}
{# {% block main_css %}{% endblock %} #}
{# {% block main_div_css %}class_name{% endblock %} #}

{% block main_top %}
    {% include 'base_sources/messenger.html' %}
{% endblock %}

{% block main_content %}
                    <!-- Insert here -->
                    <div class="container">
                        <div class="mx-auto text-center p-3">
                            <h2>{{ title_text }}</h2>
                        </div>
                        {% if task_type %}
                            <div class="row justify-content-center p-2">
                                <div class="col-8 text-center">
                                    <form method="POST"  id="expim-form">
                                        <div class="row justify-content-center p-2">
                                            <div
                                            {% if query %} class="text-center">
                                                {{ fields.input_hidden(query, 'ip_address') }}
                                                <span class="badge bg-secondary fs-5">{{ query }}</span>
                                            {% else %} class="input-group">
                                                {{ fields.input('IP address', 'ip_address', '', "Server IP") }}
                                            {% endif %}
                                            </div>
                                        </div>
                                        {% if task_type == 'vhost' %}
                                            <div class="row justify-content-center p-2">
                                                <div class="input-group">
                                                    {{ fields.input('Domain', 'domain_name', "", "input domain for vhost") }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center p-2">
                                                <div class="input-group">
                                                    {{ fields.select('Service:', 'web_service', web_service_lst, "") }}
                                                    {{ fields.select('PHP-FPM ver:', 'php_ver', php_lst, "") }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center p-2">
                                                <div class="input-group">
                                                    {{ fields.input('DB User', 'db_user', value, "") }}
                                                    {{ fields.input('DB Password', 'db_pass', value, "", type='password') }}
                                                </div>
                                            </div>
                                        {% elif task_type == 'reverse_proxy' %}
                                            <div class="row justify-content-center p-2">
                                                <div class="input-group">
                                                    {{ fields.input('Domain', 'domain_name', "", "input domain for vhost") }}
                                                    {{ fields.select('PHP-FPM ver:', 'php_ver', php_lst, "") }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ fields.submit(label="Apply to host", id="division_name") }}
                                        {{ fields.csrf() }}
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        {% if data['full_log'] %}
                            <div class="row justify-content-center p-2">
                                <div class="accordion" id="accordionConsoleLog">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ConsoleLog-collapseOne" aria-expanded="false" aria-controls="ConsoleLog-collapseOne">
                                                <i class="fa-solid {% if data['full_log'][0] %}fa-circle-check text-success{% else %}fa-triangle-exclamation text-danger{% endif %} px-3" aria-hidden="true"></i> Full SSH Console log
                                            </button>
                                        </h2>
                                        <div id="ConsoleLog-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionConsoleLog">
                                            <div class="accordion-body text-start">
                                                <div class="bd-callout bd-callout-{% if data['full_log'][0] %}success{% else %}warning{% endif %} text-start">
                                                    <pre tabindex="0" class="chroma"><code class="language-xml" data-lang="xml">{{ data['full_log'][1] }}</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- //Insert here -->
{% endblock %}

{#{% block main_bottom %}<h5>bottom</h5>{% endblock %}#}

{% block custom_scripts %}{% endblock %}
