{% extends 'base_sources/base.html' %}
{% import 'base_sources/form-fields.html' as fields %}

{% set title_text = "Servers management" %}

{% block page_title %}{{ title_text }}{% endblock %}

{#  CSS settings - if need #}
{# {% block html_css %}class_name{% endblock %} #}
{# {% block body_css %}class_name{% endblock %} #}
{# {% block main_css %}{% endblock %} #}
{# {% block main_div_css %}class_name{% endblock %} #}

{% block main_top %}
    {% include 'base_sources/messenger.html' %}
{% endblock %}

{% block main_content %}
                    <!-- Insert here -->
                    <div class="container">
                        <div class="mx-auto text-center p-3">
                            <h2>{{ title_text }}</h2>
                        </div>
                        {% if not data %}
                            <div class="row justify-content-center p-2">
                                <div class="col-8 text-center">
                                    <form method="POST" class="d-flex" id="expim-form">
                                        <div class="input-group">
                                            {% if query %}{% set value = query %}{% endif %}
                                            {{ fields.input('IP address', 'ip_address', value, "input IP plz") }}
                                            {{ fields.group_submit('<i class="fa-solid fa-magnifying-glass"></i> Get facts') }}
                                        </div>
                                        {{ fields.csrf() }}
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        {% if data['get_facts'] %}
                            <div class="mx-auto p-2 text-center">
                                <button type="button" class="btn px-2 py-1 fw-semibold text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-2" onclick="toClipboard('{{ query }}')" id="copy-query-ip">
                                    <i class="fa-regular fa-copy" aria-hidden="true"></i> {{ query }}
                                </button>
                            </div>

                            {% if data['system'] or data['packages'] %}
                                <div class="row justify-content-center p-2">
                                    {% if data['system'] %}
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-header card-header-block">
                                                <strong>Summary:</strong> <i class="fa-brands fa-{{ data['system']['family']|lower }} text-danger fa-bg-white p-1"></i> {{ data['system']['family'] }} family
                                            </div>
                                            <div class="card-body">
                                                <span class="mb-3 px-2 py-1 fw-semibold text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-2 fs-5"><i class="fa-brands fa-{{ data['system']['dist']|lower }}"></i> {{ data['system']['dist'] }} v.{{ data['system']['ver'] }}</span>
{#                                                <p class="card-text">{{ data['system']['kernel'] }}</p>#}
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Kernel: {{ data['system']['kernel'] }}</li>
                                                {% if data['all_ipv4'] %}
                                                    <li class="list-group-item">Uses External IP:
                                                    {% if data['v_ip'] %}
                                                        {% for ip_adr in data['all_ipv4'] %}
                                                            {% if ip_adr == data['v_ip'].internal_ip %}
{#                                                                <span class="badge custom-info">{{ data['v_ip'].virtual_ip }}</span>#}
                                                                <button type="button" class="btn-sm fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2" onclick="toClipboard('{{ data['v_ip'].virtual_ip }}')" id="copy-virtual-ip">
                                                                    <i class="fa-regular fa-copy" aria-hidden="true"></i> {{ data['v_ip'].virtual_ip }}
                                                                </button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <span class="badge custom-info">Not found</span>
                                                    {% endif %}
                                                    </li>
                                                {% endif %}
                                                <li class="list-group-item">Vlan's:
                                                    {% if data['vms'] %}
                                                        {% for row in data['vms'] %}
                                                            {% set row_list = row.subnet_reference.strip('[]').split(', ') %}
                                                            {% for vlan in row_list %}
                                                                <span class="badge custom-info">{{ vlan.strip("'") }}</span>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <span class="badge custom-info">Not found</span>
                                                    {% endif %}
                                                </li>
                                                <li class="list-group-item">vCPU: <strong>{{ data['system']['vCPU'] }}</strong></li>
                                                <li class="list-group-item">RAM: <strong>{{ (data['system']['RAM']|int / 1000)|round(1) }} Gb</strong></li>
                                                {% if data['mounts'] %}{% for disk in data['mounts'] %}
                                                    {% set free_percent = (disk["size_available"] / disk["size_total"]) * 100 %}{% set free_gb = disk["size_available"] / (1024 ** 3) %}
                                                    {% if disk["mount"] == "/" %}<li class="list-group-item">Disk: {% if free_percent > 45 %}<i class="fa-solid fa-circle-check text-success"></i>{% elif free_percent > 25 %}<i class="fa-solid fa-triangle-exclamation text-warning"></i>{% else %}<i class="fa-solid fa-triangle-exclamation text-danger"></i>{% endif %} <strong>{{ '%.2f' % free_gb }} Gb</strong> or <strong>~{{ '%.2f' % free_percent }}%</strong> free</li>{% endif %}
                                                {% endfor %}{% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if data['ports'] %}
                                    <div class="col-8">
                                        <div class="card">
                                            <div class="card-header card-header-block">
                                                <strong>Main Ports Listeners:</strong>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" class="align-middle text-center">Services/ports</th>
                                                            <th scope="col" class="align-middle text-center">:80</th>
                                                            <th scope="col" class="align-middle text-center">:443</th>
                                                            <th scope="col" class="align-middle text-center">:21</th>
                                                            <th scope="col" class="align-middle text-center">:3306</th>
                                                            <th scope="col" class="align-middle text-center">:8011</th>
                                                            <th scope="col" class="align-middle text-center">:8443</th>
                                                            <th scope="col" class="align-middle text-center">:11211</th>
                                                            <th scope="col" class="align-middle text-center">:6081</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for port in data['ports'] %}
                                                        {% if port["port"]|int in (80, 443, 21, 3306, 11211) %}
                                                        <tr>
                                                            <td>{{ port["name"] }}  <span class="badge rounded-pill text-{% if ':' not in port['address'] %}success{% else %}danger{% endif %}-emphasis bg-{% if ':' not in port['address'] %}success{% else %}danger{% endif %}-subtle border-{% if ':' not in port['address'] %}success{% else %}danger{% endif %}-subtle border">{% if ':' not in port['address'] %}IPv4{% else %}IPv6{% endif %}</span></td>
                                                            <td class="align-middle text-center">{% if port['port'] == 80 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 443 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 21 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 3306 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 8011 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 8443 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 11211 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                            <td class="align-middle text-center">{% if port['port'] == 6081 %}<i class="fa-solid fa-square-check text-success"></i>{% endif %}</td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
{# TEST #}
                                <div class="row justify-content-center p-2">
                                    <div class="col-12">
                                        <div class="card text-center">
                                            <ul class="nav nav-tabs m-3" id="AnsibleTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#header-tab-pane" type="button" role="tab" aria-controls="header-tab-pane" aria-selected="false" disabled>Ansible actions:</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Main Actions</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">DB actions</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" disabled>Additions</button>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                                    <div class="row justify-content-center p-2">
                                                        <div class="col-3">
                                                            <div class="card border-secondary-subtle mb-3">
                                                                <div class="card-header text-light bg-danger">
                                                                    <strong>Favorite:</strong>
                                                                </div>
                                                                <ul class="list-group list-group-flush text-start">
                                                                        <li class="list-group-item"><a href="{{ url_for('servers.add_on_server', task_type='vhost', target=query) }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add new VirtualHost</a></li>
                                                                        <li class="list-group-item">
                                                                            {% for port in data['ports'] %}{% set revers_proxy = False %}{% if port['port'] == 8443 %}{% set revers_proxy = True %}{% endif %}{% endfor %}
                                                                            {% if revers_proxy %}Yes, u can{% else %}No, U can't{% endif %}
                                                                        </li>
                                                                        <li class="list-group-item">LINK 3</li>
                                                                        <li class="list-group-item">LINK 4</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="card border-secondary-subtle mb-3">
                                                                <div class="card-header bg-warning">
                                                                    <strong>Create user:</strong>
                                                                </div>
                                                                <ul class="list-group list-group-flush text-start">
                                                                        <li class="list-group-item">Add OS user</li>
                                                                        <li class="list-group-item">Add PureFTPd user</li>
                                                                        <li class="list-group-item">Add MySQL user</li>
                                                                        <li class="list-group-item">LINK</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="card border-secondary-subtle mb-3">
                                                                <div class="card-header bg-warning">
                                                                    <strong>Delete user:</strong>
                                                                </div>
                                                                <ul class="list-group list-group-flush text-start">
                                                                        <li class="list-group-item">Del OS user</li>
                                                                        <li class="list-group-item">Del PureFTPd user</li>
                                                                        <li class="list-group-item">Del MySQL user</li>
                                                                        <li class="list-group-item">LINK</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="card border-secondary-subtle mb-3">
                                                                <div class="card-header bg-info-subtle">
                                                                    <strong>Folders:</strong>
                                                                </div>
                                                                <ul class="list-group list-group-flush text-start">
                                                                        <li class="list-group-item">Create folder</li>
                                                                        <li class="list-group-item">Delete folder</li>
                                                                        <li class="list-group-item">Permissions</li>
                                                                        <li class="list-group-item">Change owner</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">Will be in future</div>
                                                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">Will be in future</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-center p-2">
                                    {% if data['vms'] %}
                                    <div class="col-12 py-3">
                                        <div class="card">
                                            <div class="card-header card-header-block">
                                                <strong>Nutanix:</strong>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-bordered fs-08">
                                                    <tr>
                                                        <th class="text-center align-middle text-nowrap">Cluster</th>
                                                        <th class="text-center align-middle text-nowrap">Name (uuid)</th>
                                                        <th class="text-center align-middle text-nowrap">Company</th>
                                                        <th class="text-center align-middle text-nowrap">Contract</th>
                                                        <th class="text-center align-middle text-nowrap">vCPU</th>
                                                        <th class="text-center align-middle text-nowrap">Sockets</th>
                                                        <th class="text-center align-middle text-nowrap"><i class="fa-solid fa-microchip"></i> CPU</th>
                                                        <th class="text-center align-middle text-nowrap"><i class="fa-solid fa-memory"></i> RAM</th>
                                                        <th class="text-center align-middle text-nowrap"><i class="fa-solid fa-compact-disc"></i> Disks</th>
                                                    </tr>
                                                    {% for row in data['vms'] %}
                                                    <tr {% if not row.power_state %}class="vm-power-state-off"{% endif %}>
                                                        <td class="text-center align-middle">
                                                            {% if row.cluster_name == 'XpmNutLin' %}
                                                                <i class="fa-brands fa-linux text-dark text-bg-warning p-1 rounded-5"></i> NutLin
                                                            {% elif row.cluster_name == 'XPMNUTWIN' %}
                                                                <i class="fa-brands fa-windows text-primary-emphasis"></i> NutWin
                                                            {% elif row.cluster_name == 'NUTCLS' %}
                                                                <i class="fa-solid fa-circle-nodes text-bg-danger p-1 rounded-5 text-light"></i> NutCLS
                                                            {% else %}
                                                                {{ row.cluster_name }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle">
                                                            {{ row.vm_name }} <a class="" data-bs-toggle="popover" title="VM uuid & created time:" data-bs-content="UUID>>>{{ row.uuid }} Created>>>{{ row.creation_time }}"><i class="fa-solid fa-circle-info text-secondary"></i></a><br>
                                                            {% set row_list = row.internal_ip.strip('[]').split(', ') %}
                                                            {% for int_ip in row_list %}
                                                                {% if int_ip.strip("'") %}<span class="badge custom-info">{{ int_ip.strip("'") }}
                                                                    {% if data['v_ip'] %}
                                                                        {% if int_ip.strip("'") == data['v_ip'].internal_ip %}<span class="custom-v_ips-info"><i class="fa-solid fa-globe"></i> {{ data['v_ip'].virtual_ip }}</span>{% endif %}
                                                                    </span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% set row_list = row.subnet_reference.strip('[]').split(', ') %}
                                                            {% for vlan in row_list %}
                                                                <span class="badge custom-info">{{ vlan.strip("'") }}</span>
                                                            {% endfor %}
                                                        </td>
                                                        <td {% if row.company_id in (0, 1) %}colspan="2" {% endif %}class="text-center align-middle{% if row.company_id == 0 %} table-warning{% elif row.company_id == 1 %} table-success{% endif %}">
                                                            {% if row.company_id == 0 %}Not found
                                                            {% elif row.company_id == 1 %}<span class="badge text-bg-light expim-badge"><span class="text-danger">E</span><span class="text-dark">XPIM</span></span>
                                                            {% else %}
{#                                                                {% for client in results['vms_customers'] %}#}
{#                                                                    {% if row.company_id|string == client.custname %}#}
{#                                                                        ID: {{ row.company_id }} <a href="{{ url_for('priority_customers', company_id=row.company_id, condition='details') }}"><i class="fa-solid fa-file-lines text-warning-emphasis"></i></a> <a href="{{ url_for('priority_customers', company_id=row.company_id, condition='contacts') }}"><i class="fa-solid fa-address-book text-warning-emphasis"></i></a><br />#}
{#                                                                        {{ client.custdes }}#}
{#                                                                    {% endif %}#}
{#                                                                {% endfor %}#}
                                                            {% endif %}
                                                        </td>
                                                        {% if row.contract_num == 'Not found' %}{% set current_class = ' table-warning' %}
                                                        {% elif row.contract_num == 'EXPIM' %}{% set current_class = ' table-success' %}
                                                        {% endif %}
                                                        {% if row.company_id not in (0, 1) %}
                                                        <td class="text-center align-middle{{ current_class }}">
                                                                    {% if row.contract_num == 'EXPIM' %}
                                                                    {% elif row.contract_num == 'Not found' %}{{ row.contract_num }}
                                                                    {% elif filtered %}{{ row.contract_num }}
                                                                    {% else %}
                                                                        <form method="POST" action="/nutanix_list/" class="text-center">
                                                                            <input type="hidden" name="nutanix_filter" value="{{ row.contract_num }}">
                                                                            <button class="btn btn-outline-secondary" type="submit">{{ row.contract_num }}</button>
                                                                        </form>
                                                                    {% endif %}
                                                        </td>
                                                        {% endif %}
                                                        <td class="text-center align-middle">{{ row.num_vcpus_per_socket }}</td>
                                                        <td class="text-center align-middle">{{ row.num_sockets }}</td>
                                                        <td class="text-center align-middle">{{ row.num_vcpus_per_socket|int * row.num_sockets|int }}</td>
                                                        <td class="text-center align-middle">{{ row.memory_size_mib|convert_mib }}</td>
                                                        <td class="text-center align-middle">{{ row.total_disks }}<br><span class="custom-fs-07">{{ row.total_disks_size_mib|convert_mib }}</span></td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>






{#                                                <form method="POST" action="http://tools.expim.local/">#}
{#                                                    {{  fields.csrf() }}#}
{#                                                    {{  fields.input_hidden(value=query, name='global_search_string') }}#}
{#                                                    {{  fields.input_hidden(value='search_ip', name='search_ip') }}#}
{#                                                    {{  fields.input_hidden(value='search_customer', name='search_customer') }}#}
{#                                                    {{  fields.input_hidden(value='search_url', name='search_url') }}#}
{#                                                    {{  fields.input_hidden(value='search_vms', name='search_vms') }}#}
{#                                                    {{  fields.input_hidden(value='1', name='index_form') }}#}
{#                                                    {{  fields.submit(label="More about VM", id="submit_"+query, col='8') }}#}
{#                                                </form>#}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if data['packages'] %}
                                        <div class="col-12 py-3">
                                            <div class="card">
                                                <div class="card-header card-header-block">
                                                    <strong>Packages:</strong>
                                                </div>
                                                <div class="card-body">
                                                    <div class="accordion pb-3" id="accordionPackages">
                                                        {% for division_name in data['packages'].keys() %}
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ division_name }}_packages-collapseOne" aria-expanded="false" aria-controls="{{ division_name }}_packages-collapseOne">
                                                                    {% if division_name == 'sys' %}
                                                                        System
                                                                    {% elif division_name == 'web' %}
                                                                        Web services
                                                                    {% elif division_name == 'db' %}
                                                                        Databases
                                                                    {% elif division_name == 'other' %}
                                                                        Others
                                                                    {% else %}
                                                                        ERROR
                                                                    {% endif %}
                                                                </button>
                                                            </h2>
                                                            <div id="{{ division_name }}_packages-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionPackages">
                                                                <div class="accordion-body text-start">
                                                                    <form method="POST" id="expim-form">
                                                                        <div class="col-12 text-center">
                                                                            <table class="table table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col" class="align-middle text-center">Package</th>
                                                                                        <th scope="col" class="align-middle text-center">Version</th>
                                                                                        <th scope="col" class="align-middle text-center">Status</th>
                                                                                        <th scope="col" class="align-middle text-center">Update</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for package in data['packages'][division_name] %}
                                                                                    {% if package[2] == 'checked' %}
                                                                                        {% set label = '<i class="fa-solid fa-trash-can text-danger"></i> Delete' %}
                                                                                        {% set value = '-del' %}
                                                                                        {% set status = '<i class="fa-solid fa-circle-check text-success"></i>' %}
                                                                                    {% else %}
                                                                                        {% set label = '<i class="fa-solid fa-circle-up text-success"></i> Setup' %}
                                                                                        {% set value = '+set' %}
                                                                                        {% set status = '<i class="fa-solid fa-minus text-secondary"></i>' %}
                                                                                    {% endif %}
                                                                                    <tr>
                                                                                        <th scope="row"{% if package[2] %} class="table-success"{% endif %}>{{ package[0] }}</th>
                                                                                        <td>{% if package[3] != None  %}{{ package[3] }}{% else %}{{ status|safe }}{% endif %}</td>
                                                                                        <td>{{ status|safe }}</td>
                                                                                        <td>{{ fields.checkbox(label, value, package[1]) }}</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div class="col-12 text-center">
                                                                            <table class="table">
                                                                                <tr>
                                                                                    <td class="align-middle text-center">{{ fields.submit(label="Update state", id="division_name") }}</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        {{ fields.input_hidden(query, 'ip_address') }}
                                                                        {{ fields.input_hidden('true', 'update') }}
                                                                        {{ fields.csrf() }}
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if data['ports'] %}
                                        <div class="col-12 py-3">
                                            <div class="card">
                                                <div class="card-header card-header-block">
                                                    <strong>Ports listen:</strong>
                                                </div>
                                                <div class="card-body">
                                                    <div class="accordion pb-3" id="accordionPorts">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ports-collapseOne" aria-expanded="false" aria-controls="ports-collapseOne">
                                                                    Open TCP-IP ports
                                                                </button>
                                                            </h2>
                                                            <div id="ports-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionPorts">
                                                                <div class="accordion-body text-start">

                                                                    <div class="col-12 text-center">
                                                                        <table class="table table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col" class="align-middle"></th>
                                                                                    <th scope="col" class="align-middle">TCP</th>
                                                                                    <th scope="col" class="align-middle">Service</th>
                                                                                    <th scope="col" class="align-middle">Port</th>
                                                                                    <th scope="col" class="align-middle">User</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for port in data['ports'] %}
                                                                                <tr>
                                                                                    <td><i class="fa-solid fa-trash-can text-muted"></i></td>
                                                                                    <td><span class="badge rounded-pill text-{% if ':' not in port['address'] %}success{% else %}danger{% endif %}-emphasis bg-{% if ':' not in port['address'] %}success{% else %}danger{% endif %}-subtle border-{% if ':' not in port['address'] %}success{% else %}danger{% endif %}-subtle border">{% if ':' not in port['address'] %}IPv4{% else %}IPv6{% endif %}</span></td>
                                                                                    <th scope="row">{{ port["name"] }}</th>
                                                                                    <td>{{ port["port"] }}</td>
                                                                                    <td>{{ port["user"] }}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="accordion" id="accordionConsoleLog">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ConsoleLog-collapseOne" aria-expanded="false" aria-controls="ConsoleLog-collapseOne">
                                            <i class="fa-solid {% if data['full_log'][0] %}fa-circle-check text-success{% else %}fa-triangle-exclamation text-danger{% endif %} px-3" aria-hidden="true"></i> Full SSH Console log
                                        </button>
                                    </h2>
                                    <div id="ConsoleLog-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionConsoleLog">
                                        <div class="accordion-body text-start">
                                            <div class="bd-callout bd-callout-{% if data['full_log'][0] %}success{% else %}warning{% endif %} text-start">
                                                <pre tabindex="0" class="chroma"><code class="language-xml" data-lang="xml">{{ data['full_log'][1] }}</code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- //Insert here -->
{% endblock %}

{#{% block main_bottom %}<h5>bottom</h5>{% endblock %}#}

{% block custom_scripts %}{% endblock %}
